@import url(./blocks/rotation/rotation.css);


.kaufman__triangle 
{
    width:995px;
    height: 997px;
    background-image: url(./images/kaufman-triangle.svg);
    z-index: 0;
  position: absolute;
    animation: rotation linear infinite normal  20s;
    top:0;
    right:-236px;
}